<nav class="navbar nav navbar-expand-lg navbar-dark position-fixed w-100">
	<div class="container-fluid">
		<div class="row w-100">
			<div class="col-9 col-lg-6">
				<a class="navbar-brand" href="{{path('home')}}">
					<H3 class="m-0 p-0">kikassi kikassa</H3>
					<p class="m-0 p-0">Bibliothèque d'objet d'Arles</p>
				</a>
			</div>
			<div class="col-3 col-lg-3 offset-lg-3 mt-2">
				<button class="navbar-toggler ml-4" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav w-100">
						<li class="nav-item dropdown  ml-2">
							<a class="nav-link dropdown-toggle icon-white mx-2" href="https://kikassikikassa.fr/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-home icon-white fa-2x"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="https://kikassikikassa.fr/actus/">Actualité</a>
								<a class="dropdown-item" href="#">Qui sommes-nous?</a>
								<a class="dropdown-item" href="https://kikassikikassa.fr/la-bibliotheque-dobjets-2/">Comment ça marche</a>
								<a class="dropdown-item" href="https://kikassikikassa.fr/contact/">Contact</a>
							</div>
						</li>
					</a>
				</li>
				<li class="nav-item">
					<a class="navbar-brand icon-white mx-2" href="#">
						<i class="fas fa-shopping-basket fa-2x mx-2"></i>
					</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle mx-2" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img id="fourmis" src="../img/foumis monochrome sans fond.png" alt="avatar fourmis">
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="#">Information compte</a>
						<a class="dropdown-item" href="#">Historique des paniers</a>
						<a class="dropdown-item" href="#">Déconnexion</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div></div></nav>
