{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe
{% endblock %}

{% block body %}
	<p>
		Un email contenant un lien pour redéfinir votre mot de passe a bien été envoyé à l'adresse donnée.
				Ce lien restera actif pendant
		{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
	</p>
	<p>Si vous n'avez pas reçu l'email, vérifiez votre dossier 'courriers indésirables' ou
		<a href="{{ path('app_forgot_password_request') }}">essayez à nouveau</a>.</p>
{% endblock %}
