{% macro button_icon(text) %}
	<button
		class="big-button">
		{# <img src="./../../public/photos/{{icon}}.jpg" alt="{{icon}}"> #}
		<div class="btn-text">
			<p>{{text}}</p>
		</div>
	</button>
{% endmacro %}
