{% extends './admin/base-admin.html.twig' %}
{% import './admin/_macros.html.twig' as macros %}


{% block title %}CSV
{% endblock %}

{% block body %}
	<body class={{color}}>
		<div data-controller="admin" class='d-flex flex-column align-items-center justify-content-center vh-100'>
			<h1>Le CSV des
				{{name}}
				est téléchargé</h1>
			<button type='button' class='btn backButton bar-btn'>
				<div class=" font-raleway btn-text">Retour à la liste des&nbsp{{name}}</div>
			</button>
		</div>
	</body>
{% endblock %}
