{% extends './admin/base-admin.html.twig' %}
{% import './admin/_macros.html.twig' as macros %}


{# {% set envoi = "<div>" ~ form_widget(form.save) ~ "</div>" %} #}
{% set continue = "" %}
{% set arrowClass = 'd-none' %}
{% set arrow = '' %}
{% set envoi = '' %}
{% set footerPadding = 'm-padding' %}
{% set param = 'adherents' %}


{% block title %}Adhérents
{% endblock %}

{% block body %}
	<body class={{color}}>
		<div class="main-title font-raleway container">
			<h1 class="text-center font-raleway mb-5">Rechercher un adhérent à modifier / réinscrire</h1>
			{% include '/admin/forms/adherent_search.html.twig' %}
			<form method="post" class='d-flex justify-content-center'>
				<input id='hidden-adh' hidden type="text" name='adherent' class='input'/>
				<div id="hidden-btn"></div>
			</form>
			{{macros.footer_color(section, return_path, arrow, envoi, continue, arrowClass, footerPadding)}}
		</div>

	</body>
{% endblock %}
{% block footer %}{% endblock %}
