<div class="form-inline d-block search-item">
	<label for="adherent" class="">Rechercher un adhérent avec un nom ou prénom</label>
	{{form_start(formSearch)}}

	{{ form_widget(formSearch.nom, {'attr': {'class': 'form-control select-height'}}) }}

	{# <button type="submit" value="do-search" class="btn btn-primary">Ok</button> #}

	<div>{{form_widget(formSearch.search)}}
	</div>

	{{form_end(formSearch)}}</div>
