// yarn encore dev-server --hot

@font-face
  font-family: "Raleway"
  font-style: normal
  font-weight: 400
  src: local('')
  src: url('../fonts/raleway-v19-latin-regular.eot') format('embedded-opentype')
  src: url('../fonts/raleway-v19-latin-regular.svg#Raleway') format('svg')
  src: url('../fonts/raleway-v19-latin-regular.woff') format('woff')
  src: url('../fonts/raleway-v19-latin-regular.ttf') format('truetype')
  src: url('../fonts/raleway-v19-latin-regular.woff2') format('woff2')


$main-menu-color : #d5c955
$adherents-color : #8080ff
$objets-color : #d48166
$emprunts-color : #8dA242
$lieux-color : #006b80
$buttons : #f8f8f8

.section-main
    background-color: lighten($main-menu-color, 10%)
    
.adherent-color 
    background-color: $adherents-color

.section-adherent
    background-color: lighten($adherents-color, 10%)

.objet-color
    background-color: $objets-color

.emprunt-color 
    background-color: $emprunts-color

.lieux-color 
    background-color: $lieux-color

@media (min-width: 1024px)
    .margin-btn
        width: 70%

@media (max-width: 767px)
    .margin-body
        margin: 200px 0

.admin-footer
    height: 15%   

.body-color, .btn-text, .barre-notif, .admin-footer, .btn-logout
    font-family: "Raleway"
    font-weight: bold
    .bar-btn
        height: 3rem
        
.body-color
    background-color: $main-menu-color

.big-button
    height: 180px
    width: 300px
    padding: 0 50px

.big-button, .bar-btn
    border-radius: 5px
    background-color: $buttons
    white-space: nowrap
    box-shadow: 4px 4px 2px #737a74

.main-menu
    height: 100vh

.btn-logout
    font-size: 1.2em
    word-wrap: break-word   

.btn-text
    font-size: 1.2em
    white-space: pre-wrap
    word-wrap: break-word

a
    text-decoration: none
    color: black
    &:hover
        text-decoration: none
        color: black


.icons
    width: 40px





