<form method="post" action="{{ path('emprunt_delete', {'id': emprunt.id}) }}" onsubmit="return confirm('Voulez vous supprimer cette réservation?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ emprunt.id) }}">
	<button class="btn">
		<i class="fa fa-trash" aria-hidden="true"></i>
	</button>
</form>
