{{ form_start(form) }}
<div class="form-group">
	{{ form_widget(form) }}
	<button class="btn btn-dark bg-green w-100">{{ button_label|default('Mettre dans mon panier') }}</button>
</div>
{{ form_end(form) }}
