{% extends 'base.html.twig' %}

{% block title %}Emprunt
{% endblock %}
{% block body %}
	{% include "/partials/header.html.twig" %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-6 offset-3 margin-top">
				<h1>Création d'un nouvel emprunt</h1>
				{{ include('emprunt/_form.html.twig') }}
			</div>
		</div>
	</div>
	{# <a href="{{ path('emprunt_index') }}">back to list</a> #}
	{% include "/partials/footer.html.twig" %}
{% endblock %}
