{% extends 'base.html.twig' %}

{% block title %}Menu Admin{% endblock %}

{% block body %}

<body>

<div class="main-menu d-flex align-items-center justify-content-center">
<div class="row">
<div class="col">
    <div class="row mb-2">
    <a href="{{ path('menu-adherents') }}">
        <button type="button" class="big-button mr-2"><div class="btn-text line-height">LES ADH&Eacute;RENTS</div>
        </button></a>
        <a href="{{ path('test') }}">
        <button type="button" class="big-button"><div class="btn-text line-height">LES EMPRUNTS</div>
        </button></a>
    </div>
    <div class="row">
        <a href="{{ path('test') }}"><button type="button" class="big-button mr-2"><div class="btn-text line-height">LES OBJETS</div>
        </button></a>
        <a href="{{ path('test') }}"><button type="button" class="big-button"><div class="btn-text long-line-height">LES LIEUX DE <br>STOCKAGE D'OBJETS</div></button></a>
    </div>
    </div>
    </div>
</div>
</body>
{% endblock %}
