{% extends './admin/base-admin.html.twig' %}
{% import './admin/_macros.html.twig' as macros %}

{% block title %}Adhérents
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			{% for text in texts %}
				<div class="col">
					{{macros.button_icon(text)}}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
