{% extends './admin/base-admin.html.twig' %}
{% import './admin/_macros.html.twig' as macros %}


{% block title %}Adhérents
{% endblock %}

{% block body %}
	<body class="{{color}}">
		<div class="margin-body d-flex min-vh-100 justify-content-center">
			<div class="margin-btn d-flex flex-row flex-wrap justify-content-center align-content-center align-items-center">
				{% for item in items %}
					{{macros.button_icon(item.text, item.icon, item.link)}}
				{% endfor %}
			</div>
		</div>
	</body>
{% endblock %}
